# ------------------------------------------
# Project specific .gitignore rules
# If you need to exclude files such as those from IDE, use
# the global .gitignore file instead (https://git-scm.com/docs/gitignore)
# ------------------------------------------
